{% extends "oscar/layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 m-auto">
            <!-- ============================ COMPONENT REGISTER   ================================= -->
            <div class="card mx-auto border-0">
                <article class="card-body">
                    <header class="mb-4">
                        <h4 class="card-title">Register</h4>
                    </header>
                    <form id="register_form" action="{{ request.get_full_path }}"  method="post">
                        {% csrf_token %}
                        {% include "oscar/partials/form_fields.html"  %}
                        <div class="form-group">                            
                            <button name="registration_submit" type="submit" value="Register" class="btn btn-primary btn-block"
                                data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label class="custom-control custom-checkbox"> <input type="checkbox"
                                    class="custom-control-input" checked="">
                                <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>
                                </div>
                            </label>
                        </div> <!-- form-group end.// -->
                    </form>
                </article><!-- card-body.// -->
            </div> <!-- card .// -->
            {% if cancel_url %}
                <p class="text-center mt-4">or <a href="{{ cancel_url }}">Cancel</a>.</p>
            {% endif %}
            <br><br>
            <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
        </div>
    </div>
{% endblock content %}