{% extends "oscar/layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 m-auto">
            <!-- ============================ COMPONENT REGISTER   ================================= -->
            <div class="card mx-auto border-0">
                <article class="card-body">
                    <header class="mb-4">
                        <h4 class="card-title">Register</h4>
                    </header>
                     <form id="login_form" action="{{ request.get_full_path }}" method="post" class="card card-body bg-light">
            <h2>{% trans 'Log In' %}</h2>
            {% csrf_token %}
            {% include "oscar/partials/form_fields.html" with form=login_form %}
            <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
            <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary"
                data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
        </form>
                </article><!-- card-body.// -->
            </div> <!-- card .// -->
            {% if cancel_url %}
                <p class="text-center mt-4">or <a href="{{ cancel_url }}">Cancel</a>.</p>
            {% endif %}
            <br><br>
            <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
        </div>
    </div>
{% endblock content %}