{% load i18n %}
{% comment %} 
{% if user.is_authenticated %}
    {% block nav_account_navbar_authenticated %}
        <li class="nav-item mr-2">
            {% if num_unread_notifications > 0 %}
            {# If user has new notifications - we change account link to go to inbox #}
            <a class="nav-link mt-2 mt-lg-0" href="{% url 'customer:notifications-inbox' %}">
                <i class="far fa-user mr-2"></i>
                {% trans "Account" %}
                <span class="badge badge-warning">{{ num_unread_notifications }}</span>
            </a>
            {% else %}
            <a class="nav-link mt-2 mt-lg-0" href="{% url 'customer:summary' %}">
                <i class="far fa-user mr-2"></i>
                {% trans "Account" %}
            </a>
            {% endif %}
        </li>
        {% if user.is_staff or perms.partner.dashboard_access %}
        <li class="nav-item mr-2">
            <a class="nav-link" href="{% url 'dashboard:index' %}">
                <i class="fas fa-list-ul mr-2"></i>{% trans "Dashboard" %}
            </a>
        </li>
        {% endif %}
        <li class="nav-item mr-2">
            <a class="nav-link" href="{% url 'customer:logout' %}" id="logout_link">
                <i class="fas fa-sign-out-alt mr-2"></i>
                {% trans "Logout" %}
            </a>
        </li>
    {% endblock %}
{% else %}
    <li class="nav-item mr-2">
        <a class="nav-link" href="{% url 'customer:login' %}" id="login_link">
            <i class="fas fa-sign-in-alt mr-2"></i>
            {% trans "Login or register" %}
        </a>
    </li>
{% endif %} {% endcomment %}


<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-4">
                    <!-- brand-wrap.// -->
                    {% include "oscar/partials/brand.html" %}
                </div>
                <div class="col-lg-6 col-sm-12 order-3 order-lg-2">
                    <form action="#" class="search">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" style="width:60%;" placeholder="Search">

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        {% if user.is_authenticated %}
                            {% block nav_account_navbar_authenticated %}
                                {% comment %} <a href="{% url 'customer:summary' %}" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a> {% endcomment %}
								<div class="text ml-1">
									<span class="text-muted">Welcome!</span>
									<div>
										<a href="{% url 'customer:summary' %}">{{ user.get_full_name }}</a>										
									</div>
								</div>
                            {% endblock %}
                        {% else %}
                                <div class="widget-header">
                                    <small class="title text-muted">Welcome guest!</small>
                                    <div>
                                        <a href="{% url 'customer:login' %}">Sign in</a> <span class="dark-transp"> | </span>
                                        <a href="{% url 'customer:register' %}"> Register</a>
                                    </div>
                                </div>
                        {% endif %}
                        <a href="#" class="widget-header ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i>
                            </div>
                            <span class="badge badge-pill badge-danger notify">0</span>
                        </a>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->


    <nav class="navbar navbar-main navbar-expand-lg border-bottom">
        <div class="container">
            <div class="navbar" id="main_nav3">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="#"> <strong>All category</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fashion</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">More</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Foods and Drink</a>
                            <a class="dropdown-item" href="#">Home interior</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Category 1</a>
                            <a class="dropdown-item" href="#">Category 2</a>
                            <a class="dropdown-item" href="#">Category 3</a>
                        </div>
                    </li>
                </ul>
            </div> <!-- collapse .// -->
        </div> <!-- container .// -->
    </nav> <!-- navbar main end.// -->

</header> <!-- section-header.// -->
